.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #222831;
  margin-bottom: 2px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #393E46;
}

.Roll {
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.rollDice {
  padding: 5% 2% 0%;
}

.pressed {
  box-shadow: #DBEDF3;
  opacity: 0.5;
}

.footer {
  padding: 0% 5% 1%;
}

.container {
  padding: 1% 7% 0%;
  margin-bottom: 0px;
}

.social-anchor {
  color: red;
  padding: 0% 2%;
  font-size: 1.5rem;
}
a:hover {
  color: #EEEEEE;
}
